<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Coffe & Wifi</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Raleway:wght@300&family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="bg-dark text-center">
    <div id="main-menu" class="container">
        <h1 class="text-light"><img src="../static/coffee.png" alt="coffee" height="45"> Coffee & Wifi <img src="../static/wifi.png" height="45" alt=""></h1>
        <p class="text-bg-dark">Want to work in a cafe but need power and wifi?</p>
        <hr class="text-bg-dark">
        <p class="text-bg-dark">You've found the right place! Check out my collection of cafes with data on power socket availability, wifi speed and coffee quality.</p>
        <a class="btn btn-warning" href="/cafes">Show Me!</a> <a class="btn btn-warning" href="/add_cafe">Add Cafe</a>
    </div>
    <div class="container">
        <footer class="py-3 my-4">
            <p class="text-center text-bg-dark">© {{ current_day }}</p>
        </footer>
    </div>
</body>
</html>